.todo {
  padding: 10px;
  width: 35%;
  background-color: white;
  color: black;
  margin: 5px auto;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  transition-duration: 0.5s;
}

.todo:hover {
  transform: scale(1.05);
}
